<div class="title">
  <h5>ID: {{model.id}}</h5>
  <h5>Repository: {{model.name}}</h5>
  <h5>Author: {{model.user}}</h5>
  <h5>Version: {{model.version}}</h5>
  {{log model}}
  <h5>Description: {{model.description}}</h5>
  {{#each model.dependencies as |dep|}}
    {{dep}}
  {{/each}}
</div>
