<div class="content row">
  <div class='side-bar col l2 m4 hide-on-small-and-down side-bar z-depth-2'> <!--SideBar-->
    <form>
      <h5>Filters</h5>
      {{md-input value=repoFilter label='Repository'}}
      <div class="divider"></div>
      {{md-check name="Ciena Frost" checked=ciena-frost}}
      {{md-check name="Ciena BluePlanet" checked=ciena-blueplanet}}
      {{md-check name="BluePlanet Frost" checked=bp-frost}}
      {{md-check name="BluePlanet UI Apps" checked=bp-ui-apps}}
      <div class="divider"></div>
      {{md-check name="Other" checked=otherOrg}}
      <div class="divider"></div>
    </form>
  </div>
  <div class='content overflow col l10 m8 s12'> <!--Card Container-->
    {{#each filteredModel as |repo|}}
      {{repository-card repo=repo}}
    {{/each}}
  </div>
</div>
