{{#liquid-if bigSearch class=""}}
  <div class="main-search col l12 z-depth-0">
    <div class ="row">
      <div class='navbar-fixed'>
        <nav>
            <div class="col offset-l5">
              {{#link-to 'index' class='brand-logo center-align'}}<img src="/assets/images/Artic_logo.svg" height=45px; />{{/link-to}}
            </div>
            <ul id="nav-mobile" class="right hide-on-small-and-down">
              <li><a class="waves-effect" {{action 'addRepoDialog'}}>Add Repository</a></li>
              <li><a class="waves-effect" onclick="Materialize.toast('Requests Currently Unavailable', 2000)">Make Request</a></li>
              <li>{{#link-to 'dashboard'}}Dashboard{{/link-to}}</li>
            </ul>
        </nav>
      </div>
    </div>
    <div class="row large-text white-text">
      <div class="col offset-l3">
        <b>{{model.repositories.length}}</b> Components
      </div>
    </div>
    <div class="row">
      <div class="col l6 offset-l3">

        <div class = "search-bar">
          {{input type="text" value=repoFilter placeholder='Search for Components' enter="smallSearch" label='Search for Components' }}
        </div>
        <div class = "brand-logo">
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class='navbar-fixed'>
    <nav>
      <div class="nav-wrapper">
        <div class='brand-logo'>{{#link-to 'index' }}<img src="/assets/images/Artic_logo.svg" />{{/link-to}}</div>
        {{!-- {{#link-to 'index' class='brand-logo'}}<img src="/assets/images/Artic_logo.svg" />{{/link-to}} --}}
        <div class = "brand-logo center search-bar-small black-text">
          {{input type="text" placeholder='Search for Components' enter="smallSearch" value=repoFilter label=''}}
        </div>
        <ul id="nav-mobile" class="right hide-on-small-and-down">
          <li><a class="waves-effect" {{action 'addRepoDialog'}}>Add Repository</a></li>
          <li><a class="waves-effect" onclick="Materialize.toast('Requests Currently Unavailable', 2000)">Make Request</a></li>
          <li>{{#link-to 'dashboard'}}Dashboard{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </div>
{{/liquid-if}}
{{#liquid-if addRepo class="crossFade-modal"}}
  {{#md-modal class="modal"}}
      <div class="offset-l3 row">
        <div class="input-field offset-l1 col l10">
          {{md-input value=newlink icon="queue right teal-text" label='Repository Link' }}
          <div class="center">
            {{md-btn action='addNewRepo' text='Submit' buttonType='flat' class='left-align green lighten-2'}}

            {{md-btn action='addRepoDialog' text='Exit' buttonType='flat' class='right-align red lighten-2'}}
          </div>
        </div>
      </div>
  {{/md-modal}}
{{/liquid-if}}
{{liquid-outlet}}
