<div class='col s12 m6 l4'>

  <div class = "wave-effect waves-dark card small white {{if (eq repo.organization 'ciena-frost') 'lighten-1' ''}} {{if (eq repo.organization 'ciena-blueplanet') 'lighten-2'''}} {{if (eq repo.organization 'BP_FROST') 'lighten-3' ''}} {{if (eq repo.organization 'BP_UI_APPS') 'lighten-4' ''}} z-depth-0">
    <div class="col l3">
      {{#link-to 'repositories.repository' repo.id}}
        <img src={{repoIcon repo.organization}}  height=55px />
      {{/link-to}}
    </div>
    <div class="col l9">
      <div class="card-content left-align black-text">
        {{#link-to 'repositories.repository' repo.id}}
          <div class = "linked black-text">
            <span class="card-title-main black-text truncate">{{repo.id}}</span><br />
            {{#if ltsVersion.compliantpercent.ember-frost-ecosystem}}
              <p><span class="pill blue">FROST &#10003;{{percentage ltsVersion.compliantpercent.ember-frost-ecosystem.[0] (sum ltsVersion.compliantpercent.ember-frost-ecosystem.[0] ltsVersion.compliantpercent.ember-frost-ecosystem.[1])}}%</span></p>
            {{/if}}
            {{#if ltsVersion.compliantpercent.ember-cli-ember-ecosystem}}
              <p><span class="pill red">EMBER &#10003;{{percentage ltsVersion.compliantpercent.ember-cli-ember-ecosystem.[0] (sum ltsVersion.compliantpercent.ember-cli-ember-ecosystem.[0] ltsVersion.compliantpercent.ember-cli-ember-ecosystem.[1])}}%</span></p>
            {{/if}}

          </div>
        {{/link-to}}

        <a href='{{repo.link}}' target='_blank'>
            <img class="source-icon" src={{imagePath repo.link}} height=15px opacity=0.7 />
        </a>
        <div class="card-action"></div>
      </div>
    </div>
  </div>
</div>
{{yield}}
