<div class="content row">
  <div class='side-bar col l2 m4 hide-on-small-and-down side-bar'> <!--SideBar-->
    <form>
      <h5>Refine Search:</h5>
      {{md-range value=complianceRange  name="Compliance Range:"}}
      {{#md-switches multiple=false selection=radioSelection optionValuePath='id' optionLabelPath='text'}}
        <p>{{md-switch value='ember-cli-ember-ecosystem' name="Ember"}}</p>
        <p>{{md-switch value='ember-frost-ecosystem' name="Frost"}}</p>
      {{/md-switches}}
    </form>
  </div>
  <div class='row'>
    <div class='content col l10 m8 s12' style="height:550px;"> <!--Card Container-->
      {{#liquid-bind currentPage class='toLeft-demo' as |currentPageModel|}}
      {{#each currentPage as |repo|}}
        {{dashboard-card repo=repo}}
      {{/each}}
      {{/liquid-bind}}
    </div>
    <div class='row'>
      {{md-pagination min=1 max=repoPages.length current=page range=7}}
    </div>
  </div>
</div>
